.Des {
    background-color: #ffffff;
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    margin-top: 220px;
    margin-left: 500px;
    width: 200px;
    height: 240px;
    position: absolute;
  }
  
  .Des-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "BodoniStd-BookItalic", serif;
    color: #77328b;
    font-style: italic; 
    text-align: left;
    margin-top: 20px;

    
  }
  
  .Des-description {
    font-size: 9.2px;
    color: #1b1b1b;;
    text-align: left;
    margin-top: 30px;
    
  }
  .Des-button {
    background-color: #252776;
    color: #ffffff;
    border: none;
    border-radius: 1px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 10px;
    font-family: "BodoniStd-BookItalic", serif;
    font-style: italic; 
    margin-top: -20px;
  }
  
  .Des-button:hover {
    background-color: #252770; 
  }
  